<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ViewStatsDocker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ViewStatsDocker.Properties.Settings>
            <setting name="pref_algorithm" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="pref_image_output" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>Ita</value>
            </setting>
            <setting name="default_dir" serializeAs="String">
                <value/>
            </setting>
            <setting name="default_input_image" serializeAs="String">
                <value/>
            </setting>
            <setting name="face_detection" serializeAs="String">
                <value>AllType</value>
            </setting>
            <setting name="last_number_of_images" serializeAs="String">
                <value>0</value>
            </setting>
        </ViewStatsDocker.Properties.Settings>
    </userSettings>
</configuration>
